{% extends "core/base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Stored arrangements" %}
{% endblock %}

{% block heading %}
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="{% url 'cockpit' %}">Cockpit</a></li>
      <li>{% trans "Stored arrangements" %}</li>
    </ul>
  </nav>
{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'cockpit.css' %}">

{% if page_obj %}
{% include 'core/page_obj_pagination.html' %}
<table>
  <tr>
    <td>Title</td>
    <td>Creator handle</td>
    <td>YouTube ID</td>
    <td>Modify</td>
  </tr>
  {% for entry in page_obj %}
  <tr>
    <th>{{ entry.title }}</th>
    <th><a href="https://youtube.com/@{{ entry.creator_id }}" target="_blank">{{ entry.creator_id }}</a></th>
    <th><a href="https://youtube.com/watch?v={{ entry.youtube_id }}" target="_blank">{{ entry.youtube_id }}</a></th>
    <th><a href="{% url 'modify' entry.entry_id %}" role="button">Edit</a></th>
  </tr>
  {% endfor %}
</table>
{% else %}
No arrangements available.
{% endif %}


{% endblock %}
