{% extends "core/base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Database management" %}
{% endblock %}

{% block heading %}
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="{% url 'cockpit' %}">Cockpit</a></li>
      <li>{% trans "Database management" %}</li>
    </ul>
  </nav>
{% endblock %}

{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'cockpit.css' %}">

<details>
  <summary>Add individual entries to the arrangement database {% if entry_form.errors %} <strong class="errorlist">(errors)</strong> {% endif %}</summary>
  <article class="dbms-card">
    {% for error in entry_form.non_field_errors %}
        <p class="errorlist">{{ error }}</p>
    {% endfor %}
  <form action="{% url 'dbms' %}" method="post">
    {% csrf_token %}
    {% for field in entry_form %}
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
          {% for error in field.errors %}
            <p class="errorlist">{{ error }}</p>
          {% endfor %}
        {% endif %}
        {% if field.help_text %}
          <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
  {% endfor %}
  <input type="submit" value="Submit">
  </form>
  </article>
</details>

<details>
  <summary>Edit individual entries from the arrangement database</summary>
  <article class="dbms-card">
    The ten last modified arrangements are listed. To view all arrangements, <a href="{% url 'arrangements' %}">click here</a>.
    <br><br>
    {% if arrangement_list %}
    <table>
      <tr>
        <td>Title</td>
        <td>Creator ID</td>
        <td>YouTube ID</td>
        <td>Modify</td>
      </tr>
      {% for entry in arrangement_list %}
      <tr>
        <th>{{ entry.title }}</th>
        <th>{{ entry.creator_id }}</th>
        <th>{{ entry.youtube_id }}</th>
        <th><a href="{% url 'modify' entry.entry_id %}" role="button">Edit</a></th>
      </tr>
      {% endfor %}
    </table>
    {% endif %}
  </article>
</details>


{% endblock %}
