{% extends "core/base.html" %}

{% load i18n %}

{% block head_title %}
  {% trans "Event log" %}
{% endblock %}

{% block heading %}
  <nav aria-label="breadcrumb">
    <ul>
      <li><a href="{% url 'cockpit' %}">Cockpit</a></li>
      <li>{% trans "Event log" %}</li>
    </ul>
  </nav>
{% endblock %}

{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'cockpit.css' %}">

<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/base16/solar-flare.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>

<script>hljs.highlightAll()</script>

{% if page_obj %}

<p><strong class="danger">This information may be sensitive.</strong></p>

{% include 'core/page_obj_pagination.html' %}
<table>
  <tr>
    <td>Timestamp (UTC)</td>
    <td>Object</td>
    <td>Changes</td>
    <td>Action type</td>
    <td>User</td>
  </tr>
  {% for entry in page_obj %}
  <tr>
    <th>{{ entry.timestamp }}</th>
    <th><code>{{ entry.content_type }}</code></th>
    <th><pre><code class="language-json" id="{{ entry.id }}">{{ entry.changes | pprint }}</code></pre></th>
    <th>{{ entry.get_action_display }}</th>
    <th>{{ entry.actor }}</th>
  </tr>
  {% endfor %}
</table>

{% else %}
No log entries available.
{% endif %}

{% endblock %}