.errorlist {
	color: #facaca;
}

.menubar {
	padding-left: 40px;
	padding-right: 40px;
}

nav li {
	padding-top: 1rem;
}

.message-article {
	padding: 1rem;
	margin: 0;
	margin-bottom: 2rem;
}

.add-to-list-button {
	margin-right: 100px;
}

.pfp {
	border-radius: 50%;
}

.visible {
	visibility: visible;
	opacity: 1;
}

.invisible {
	visibility: hidden;
	opacity: 0;
}

#nav-content {
	margin-top: 1rem;
}

.nav-dropdown {
	margin-top: 0.2rem;
	position: relative;
	display: inline-block;
}

.nav-dropdown-content {
	position: absolute;
	background-color: #0e1317;
	right: 0;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
	transition: all 0.5s ease 0s;
	z-index: 1;
}

.nav-dropdown-elements {
	margin: 0.5rem;
	min-width: 8rem;
	display: block;
}

.nav-dropdown-logout {
	color: #ed6174;
}

.nav-dropdown-logout:hover {
	color: #a13846;
}

@media (max-width: 992px) {
	.nav-username {
		display: none;
	}
}

.nav-pfp {
	margin-left: 0.4rem;
	margin-right: 0.4rem;
	height: 2.5rem;
	width: 2.5rem;
	padding: 0;
}

.nav-profile {
	border: none;
	background-color: #11191f;
	cursor: pointer;
	height: 3.5rem;
	padding: 0 5px 0 5px;
	line-height: 0;
	border-radius: 50px;
	transition: all 0.3s ease 0s;
}

.nav-profile:hover, .nav-profile-active {
	background-color: #0e1317;
  	box-shadow: 0px 5px 10px rgba(146, 2, 247, 0.4);
  	transform: translateY(-2px);
}

#list-modal {
	transition: all 0.1s ease 0s;
}

#list-close {
	cursor: pointer;
}

main.container {
	padding-top: 32px;
}

article {
	margin: 0;
}

@media (min-width: 992px) {
	.httpresponse-img {
		float: right;
	}
}

@media (max-width: 992px) {
	.httpresponse-img {
		display: block;
		margin: auto;
	}
}

.httpresponse-grid-div {
	margin-left: 2vw;
	margin-bottom: 2rem;
	margin-right: 2vw;
}

/* Flash alerts */

.flashtext::before {
	display: inline-block;
    width: inherit;
    height: inherit;
    margin-right: 10px;
    transform: translateY(10%);
}

/* inb4 anyone says that you can't use complicated mathematics in CSS: https://stackoverflow.com/q/42966641 */

span.flashtext-debug::before {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20"><path d="M5.433 2.304A4.492 4.492 0 0 0 3.5 6c0 1.598.832 3.002 2.09 3.802.518.328.929.923.902 1.64v.008l-.164 3.337a.75.75 0 1 1-1.498-.073l.163-3.33c.002-.085-.05-.216-.207-.316A5.996 5.996 0 0 1 2 6a5.993 5.993 0 0 1 2.567-4.92 1.482 1.482 0 0 1 1.673-.04c.462.296.76.827.76 1.423v2.82c0 .082.041.16.11.206l.75.51a.25.25 0 0 0 .28 0l.75-.51A.249.249 0 0 0 9 5.282V2.463c0-.596.298-1.127.76-1.423a1.482 1.482 0 0 1 1.673.04A5.993 5.993 0 0 1 14 6a5.996 5.996 0 0 1-2.786 5.068c-.157.1-.209.23-.207.315l.163 3.33a.752.752 0 0 1-1.094.714.75.75 0 0 1-.404-.64l-.164-3.345c-.027-.717.384-1.312.902-1.64A4.495 4.495 0 0 0 12.5 6a4.492 4.492 0 0 0-1.933-3.696c-.024.017-.067.067-.067.16v2.818a1.75 1.75 0 0 1-.767 1.448l-.75.51a1.75 1.75 0 0 1-1.966 0l-.75-.51A1.75 1.75 0 0 1 5.5 5.282V2.463c0-.092-.043-.142-.067-.159Z"></path></svg>'); /* https://primer.style/octicons/tools-16 */
    filter: invert(92%) sepia(10%) saturate(2297%) hue-rotate(198deg) brightness(98%) contrast(93%);
}

span.flashtext-info::before {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm8-6.5a6.5 6.5 0 1 0 0 13 6.5 6.5 0 0 0 0-13ZM6.5 7.75A.75.75 0 0 1 7.25 7h1a.75.75 0 0 1 .75.75v2.75h.25a.75.75 0 0 1 0 1.5h-2a.75.75 0 0 1 0-1.5h.25v-2h-.25a.75.75 0 0 1-.75-.75ZM8 6a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>');
	filter: invert(80%) sepia(15%) saturate(648%) hue-rotate(172deg) brightness(103%) contrast(94%); /* https://primer.style/octicons/info-16 */
}

span.flashtext-success::before {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20"><path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8Zm1.5 0a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm10.28-1.72-4.5 4.5a.75.75 0 0 1-1.06 0l-2-2a.751.751 0 0 1 .018-1.042.751.751 0 0 1 1.042-.018l1.47 1.47 3.97-3.97a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042Z"></path></svg>'); /* https://primer.style/octicons/check-circle-16 */
	filter: invert(93%) sepia(10%) saturate(745%) hue-rotate(64deg) brightness(102%) contrast(94%);
}

span.flashtext-warning::before {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20"><path d="M6.457 1.047c.659-1.234 2.427-1.234 3.086 0l6.082 11.378A1.75 1.75 0 0 1 14.082 15H1.918a1.75 1.75 0 0 1-1.543-2.575Zm1.763.707a.25.25 0 0 0-.44 0L1.698 13.132a.25.25 0 0 0 .22.368h12.164a.25.25 0 0 0 .22-.368Zm.53 3.996v2.5a.75.75 0 0 1-1.5 0v-2.5a.75.75 0 0 1 1.5 0ZM9 11a1 1 0 1 1-2 0 1 1 0 0 1 2 0Z"></path></svg>'); /* https://primer.style/octicons/alert-16 */
	filter: invert(87%) sepia(31%) saturate(270%) hue-rotate(354deg) brightness(102%) contrast(92%);
}

span.flashtext-error::before {
	content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="20" height="20"><path d="M4.47.22A.749.749 0 0 1 5 0h6c.199 0 .389.079.53.22l4.25 4.25c.141.14.22.331.22.53v6a.749.749 0 0 1-.22.53l-4.25 4.25A.749.749 0 0 1 11 16H5a.749.749 0 0 1-.53-.22L.22 11.53A.749.749 0 0 1 0 11V5c0-.199.079-.389.22-.53Zm.84 1.28L1.5 5.31v5.38l3.81 3.81h5.38l3.81-3.81V5.31L10.69 1.5ZM8 4a.75.75 0 0 1 .75.75v3.5a.75.75 0 0 1-1.5 0v-3.5A.75.75 0 0 1 8 4Zm0 8a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"></path></svg>'); /* https://primer.style/octicons/stop-16 */
	filter: invert(80%) sepia(43%) saturate(264%) hue-rotate(312deg) brightness(101%) contrast(96%);
}

article.flash-debug {
	background-color: #211326;
	color: #e7c7f2;
}

article.flash-info {
	background-color: #161f33;
	color: #b2d9f7;
}

article.flash-success {
	background-color: #142615;
	color: #cbf7cd;
}

article.flash-warning {
	background-color: #382e13;
	color: #f5e4ba;
}

article.flash-error {
	background-color: #381e1e;
	color: #facaca;
}

/* Variable and element overrides */

a {
	--primary: #bf63ff;
	--primary-focus: #000000;
}

textarea {
	resize: none;
}

* {
	font-family: 'Asap', 'Arial', sans-serif;
	--font-family: 'Asap', 'Arial', sans-serif;
  	--primary: #9c0fff;
  	--primary-hover: #570091;
  	--primary-focus: rgba(146, 2, 247, 0.25);
  	--primary-inverse: #FFF;
}

.danger {
	--primary: #dc3545;
	--primary-hover: #a32632;
	--primary-focus: rgba(125, 29, 38, 0.25);
	--primary-inverse: #ffffff;
}

:root {
	--block-spacing-vertical: calc(var(--spacing));
	--form-element-active-border-color: var(--primary);
	--form-element-focus-color: var(--primary-focus);
	--switch-color: var(--primary-inverse);
	--switch-checked-background-color: var(--primary);
}
