.errorlist {
	text-align: left;
}

#id_username {
	font-size: 30px;
	font-weight: bold;
	top: 50%;
	text-align: center;
}

.settings-card {
	margin: 0;
}

@media (min-width: 992px) {
	.grid {
		margin-bottom: 1rem;
	}
}

@media (max-width: 992px) {
	.settings-card {
		margin-bottom: 1rem;
	}
}

.settings-heading {
	margin-bottom: 1rem;
}

.settings-pfp {
	width: 10rem; 
	height: 10rem; 
	margin: auto;
	object-fit: cover;
}

[type=submit] {
	margin-top: 2rem;
}