<!DOCTYPE html>

<!-- anipianolist is a community collaboration by members of the anime piano community -->
<!-- we'd *sincerely* love you to join us on GitHub! -->
<!-- https://github.com/anipiano/anipianolist -->

{% include "core/init.html" %}

<html>
  <head>
    <title>{% block head_title %}{% endblock %} | anipianolist</title>
    {% include "core/head.html" %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div>
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% endif %}
      </ul>
    </div>
    <main class="container">
      <h1>{% block heading %}{% endblock %}</h1>
      {% block content %}
      {% endblock %}
    </main>
    {% block extra_body %}
    {% endblock %}
  </body>
  {% endblock %}
</html>
