<!DOCTYPE html>

<!-- anipianolist is a community collaboration by members of the anime piano community -->
<!-- we'd *sincerely* love you to join us on GitHub! -->
<!-- https://github.com/anipiano/anipianolist -->

{% include "core/init.html" %}

<html data-theme="dark">
  <head>
    <title>{% block head_title %}{% endblock %} | anipianolist</title>
    {% include "core/head.html" %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <figure>
    <nav class="menubar">
      <ul>
        <li><strong>anipianolist</strong></li>
      </ul>
      <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'account_logout' %}" role="button">Sign Out</a></li>
          {% else %}
            <li><a href="{% url 'account_login' %}" role="button">Login</a></li>
          {% endif %}
      </ul>
    </nav>
  </figure>

    <main class="container">
      {% if messages %}
        <div>
          {% for message in messages %}
          <article class="message-article {% if message.tags %}flash-{{ message.tags }}{% endif %}"><span class="flashtext {% if message.tags %}flashtext-{{ message.tags }}{% endif %}">{{ message }}</span></article>
          {% endfor %}
        </div>
      {% endif %}
      <h1 class="heading">{% block heading %}{% endblock %}</h1>
      {% block content %}
      {% endblock %}
    </main>

    {% block extra_body %}
    {% endblock %}
  </body>
  {% endblock %}
</html>
