<!DOCTYPE html>

<!-- anipianolist is a community collaboration by members of the anime piano community -->
<!-- we'd *sincerely* love you to join us on GitHub! -->
<!-- https://github.com/anipiano/anipianolist -->

{% include "core/init.html" %}

{% load static %}
{% load cockpit_extras %}

<html data-theme="dark">
  <head>
    <title>{% block head_title %}{% endblock %} | anipianolist</title>
    {% include "core/head.html" %}
    {% block extra_head %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <nav class="menubar">
      <ul>
        <li><strong>anipianolist</strong></li>
      </ul>
      <ul>
          {% if request.user.is_authenticated %}
          <li><button id="list-add" class="outline">Add to list</button></li>
          <li>
            <div class="nav-dropdown">
              <button class="nav-profile" id="magic-button">
                <li class="nav-username"><strong>{{ user.get_username }}</strong></li>
                <img src="{{ user.profile.pfp.url }}" class="pfp nav-pfp">
              </button>
              <div id="nav-content" class="nav-dropdown-content invisible">
                <a class="nav-dropdown-elements" href="/profile/">My profile</a>
                <a class="nav-dropdown-elements" href="/settings/">Settings</a>
                {% if request.user|is_admin or request.user|is_moderator or request.user|is_maintainer %} 
                  <a class="nav-dropdown-elements" href="{% url 'cockpit' %}">Cockpit</a>
                {% endif %}
                <hr>
                <a class="nav-dropdown-elements nav-dropdown-logout" href="{% url 'account_logout' %}">Logout</a>
              </div>
            </div>
          </li>
          {% else %}
            <li><a href="{% url 'account_login' %}" role="button">Login</a></li>
          {% endif %}
      </ul>
      <dialog open class="invisible" id="list-modal">
        <article id="list-article">
          <header>
            <a id="list-close" aria-label="Close" class="close"></a>
            <h3 style="margin-bottom: 0;">Add to list</h3>
          </header>
          <p>
            to be worked on
          </p>
          <footer>
            <a href="#cancel" role="button" class="secondary">Cancel</a>
            <a href="#confirm" role="button">Confirm</a>
          </footer>
        </article>
      </dialog>
      <script src="{% static 'magic-button.js' %}"></script>
    </nav>

    <main class="container">
      {% if messages %}
        <div>
          {% for message in messages %}
          <article class="message-article {% if message.tags %}flash-{{ message.tags }}{% endif %}"><span class="flashtext {% if message.tags %}flashtext-{{ message.tags }}{% endif %}">{{ message }}</span></article>
          {% endfor %}
        </div>
      {% endif %}
      {% block noheadingcontent %}
        <h1 class="heading">{% block heading %}{% endblock %}</h1>
        {% block content %}
        {% endblock %}
      {% endblock %}
    </main>

    {% block extra_body %}
    {% endblock %}
  </body>
  {% endblock %}
</html>
