{% extends "core/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Connections" %}{% endblock %}

{% load static %}

{% block content %}
<h1>{% trans "Connections" %}</h1>

<link rel="stylesheet" href="{% static 'connections.css' %}">

<div class="grid">
	<article>
		<h3>Existing connections</h3>
		{% if form.accounts %}
		<p>{% blocktrans %}Here's a list of the social accounts you've connected with anipianolist! (^O^)／{% endblocktrans %}</p>

		<form method="post" action="{% url 'socialaccount_connections' %}">
		{% csrf_token %}

		<fieldset>
		{% for base_account in form.accounts %}
		{% with base_account.get_provider_account as account %}
		<div>
		<label for="id_account_{{ base_account.id }}">
		<input id="id_account_{{ base_account.id }}" type="radio" name="account" value="{{ base_account.id }}"/>
		<span class="socialaccount_provider {{ base_account.provider }} {{ account.get_brand.id }}"></span>
		{{ account }}
		</label>
		</div>
		{% endwith %}
		{% endfor %}
		{% if form.non_field_errors %}
			<br>
			<div id="errorMsg" class="errorlist">You need at least one social account connected, you baka~! (If you're trying to delete your account, head over to <a href="/settings/">Settings</a>)</div>
		{% endif %}
		<br>
		<div>
		<button type="submit">{% trans 'Remove' %}</button>
		</div>

		</fieldset>

		</form>

		{% else %}
		<p>{% trans 'You currently have no social network accounts connected to this account.' %}</p>
		{% endif %}
	</article>
	<article>
		<h3>{% trans 'Add connections' %}</h3>
		<p>Connect your Discord or Google accounts to anipianolist! This will only be used for authentication and is not shown publicly on your profile.</p>

		<a role="button" class="connections-discord-button" href="/oauth2/discord/login/?process=connect">Connect with Discord</a>
		<a role="button" class="connections-google-button" href="/oauth2/google/login/?process=connect">Connect with Google</a>

		{% include "socialaccount/snippets/login_extra.html" %}
	</article>
</div>

{% endblock %}
