{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{% if process == "connect" %}
<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You're about to connect your account with {{ provider }} (・.・;){% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider.name as provider %}Sign in with {{ provider }}{% endblocktrans %}</h1>

<p>{% blocktrans with provider.name as provider %}You're about to sign in with {{ provider }} ヽ(´ー｀)ﾉ{% endblocktrans %}</p>
{% endif %}

<form method="post">
  {% csrf_token %}
  <button type="submit">Continue with {{ provider.name }}</button>
</form>
{% endblock %}
